
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    
    position: relative;
    display: block;
        min-height: 100vh;
        min-width: 100vw;
        background-color: whitesmoke;   
   
}

header{ 
    background-color:rgb(4, 4, 122);
    position: relative;
    padding: 0px;
    width: 100vw;
    max-height: 60vh;    
    overflow: hidden; 
    
}


#logo{
    position: relative;
    float: left;
    z-index: 3;
    width: 6em;
     height:6em;
     margin-right: 30vw;
     background-color:rgb(4, 4, 122);
    border-radius: 1em;
    border-color: whitesmoke;
    border: 0.1em;
     }
     
#logo:hover{
    transform: rotate(0.125turn);
}

#image1{
    object-fit: cover;
    position: relative;    
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
main{
    background-color: rgb(236, 236, 236);
    margin-top:  5vh;
    min-height: 100vh;
    padding: 2rem;
    margin-left: 15vw;
    margin-right: 15vw;

}


.navbar{
    display: flex;
    gap: 0.5rem;
    justify-content:center;
    flex-wrap: wrap;  
    flex-direction: row;
    position: relative;
    padding: 1.5em;
    height:4em;
    width:100vw; 
    background-color:rgb(4, 4, 122);
    
}


.navbar .button{   
    
   color: rgb(228, 226, 226);
   background-color: rgb(177, 10, 10);
   border-radius: 0.5em;
   z-index: 2;
   height: 2em;
}
.navbar .button:hover{  
      
    background-color:rgb(24, 20, 20);
    transform-origin: left;
    transform: scale(1.3, 1.3);
    z-index: 10;

}


.content{
    display: inline-flex;
    position: relative;
    z-index: 1;
    display: block;
    margin-left: 10vw;
    margin-right: 5vw;
}
.content .table1,td,tr {
    border: 3px gray;
    padding: 1em 1em;
}





th{
    background-color:rgba(24, 24, 236, 0.425) ;
   /* color: #fff;*/
}

footer{

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 3em;
    justify-content: center;
    position: relative;
    bottom:0; 
    left:0;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 7vh;
    height: auto;
    width: 80vw;
    background-color: rgba(55, 55, 206, 0.774);
    color: whitesmoke;
    
}

footer  a{
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 3em;
    justify-content: center;
    position: relative;
}

#sheet-A4 {
    padding: 20px 60px; 
    width: 210mm;
    height: 297mm;
    left: 10px;
    border: 1px solid #D2D2D2; 
    background: #fff;
    margin: 10px auto;    
    font-family: Arial;
    z-index: 2;
}
#sheet-A4>h1{
    text-align: center;
}




